$primaryColor: #000000;
$secondarycolor: #666666;
$orange-text: #ff8a56;
$sub-title: #ff5e69;
$blue: #3c46ff;
$white: #ffffff;
$borderColor: #e5e5e5;

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include set-roboto-regular;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}
